*.pyc
*.tar
*.tar.gz
*.tar.bz2
*.pyc
*.pyo
media/images/samples/
media/images/products/
media/tar/
media/tar-samples/
media/proofing/
*.db
*.sqlite
.project
.pydevproject
build/
dist/
django_emailer.egg-info/
*.*~
